= provide(:title, 'About')

%h1 About Me
%h2 Where I'm Located

%p I'm located at 1863 Union Street, in Cow Hollow, cross street is Laguna. I'm just a few blocks from Van Ness and from Fillmore Street. There's plenty of natural light, and a warm, but simple decor.
                           
%p There is a comfortable waiting area in our office. If you are early for your appointment, feel free to take some time to do whatever you need to do: make sure your cell phone is off, use the restroom.
                                                         
%h2 Parking
%p There is ample street parking, both metered and unmetered in the area.
                                                              
%h2 About Me and My Work
%p After cycling, dancing, snowboarding, climbing, hiking and running my way through life with a club foot--and a few spills along the way, I have spent most of my adult life learning how to live a full, active life relatively pain-free. I left the dot-com industry and became a Certified Massage Therapist in 2002 and have been fascinated with how the body works ever since. I have studied all over Northern California: Anatomy with Rolfer Michael Murphy, a Cadaver Workshop at the Body Therapy Institute, Trigger Point Therapy at San Francisco School of Massage, and Advanced Rotator Cuff Therapy at the Neuromuscular Institute in Boston. I was the owner and Founder of True Massage & Wellness in San Francisco, and my clients include people from all walks of life that want to keep doing the things they love to do!
                                                           
%p I received my professional massage therapist certification in August of 2002 from Phillips School of Massage in Nevada City, CA. My education there included a clinical internship, as well as experience working with the special needs of seniors, sufferers of PTSD and outpatient oncology patients. Since then, I worked at International Orange—a busy San Francisco spa, and APEX Fitness—a Financial District personal training facility. Between those two facilities, I was able to further hone my skills and gained experience with pre-natal massage, as well as the special needs of all sorts of athletes, including runners, dancers, bodybuilders and yogis. I have since taken workshops all over the Bay Area and United States, including a Rotator Cuff workshop and a Cadaver workshop, where we were actually able to see the muscles and their attachments.
                                                           
%p The field of bodywork and massage is so vast and it never ceases to fascinate me. Therefore, I am constantly seeking new ways to more deeply understand the structure of the human body and the body/mind connection. So along with reading books on massage and Trigger Point Therapy, I am always taking classes to deepen my understanding.
                                                           
%p I graduated in 2000 with a Bachelor's degree from San Jose State University in Studio Art, Computers in Fine Art. During and after college, I worked in technology as a web developer and still enjoy working on my own website. I have also have taken classes in Ruby (RoR) programming, and workshops in User Interface Research. Prior to doing bodywork, I was a top-performing Advertising Account Executive for over 10 years, a Lead Web Developer, Desktop Publisher & Graphics Producer for nearly that long, and have worked various office, retail, management and service industry positions throughout my life, sometimes simultaneously!
                                                           
%p I consider life a great adventure and have learned to make made glass beads, worked at a ski resort so I could snowboard every day, spent a week on a sailboat in Greece, stayed with a Family on Amantani Island on Lake TitiCaca, Danced Tango in Buenos Aires, and did some extra work in L.A.
                                                           
%p In my spare time, I enjoy keeping up to date with what's new in tech, making homecrafted massage and bodycare products, volunteer work, studying holistic nutrition, human nature, exercise & massage techniques. Oh, then for the fun stuff: hiking & trail running, traveling, bicycling and spending time with friends.
                                                           
%h2 Philosophy
%p It seems that everyone knows massage is a great way to relax. But why is it? I believe that massage is about more than just working out the knots—it's also a great opportunity to take a time out from our busy lives as workers, family members, friends and parents; to not have to do anything or be anything, but to just be. And breathe.
                                                           
%p Finally, I never consider myself a "healer" because I believe we each have our own innate ability to heal. It's my place to merely be a facilitator in your healing process. And while it may seem that what I am doing through my work is very healing, I see it as an interactive relationship. Since everybody's different, that means different things for different people. As I always have, I will do everything I can to support my clients in achieving optimal wellness, and will always be glad to share any insight or knowledge they ask me for.


