= provide(:title, 'Service & Rates')
.container
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      %h2.mainhead
        Services & Rates
      .breaker
        %span.left
        %span.right
      %br/
      %br/
      .col-xs-6.col-sm-4
        .pricing.hover-effect
          .pricing-head
            %h3
              60 Minutes
              %span Customized Therapeutic or Prenatal
            %h4
              %i> $
              115
          %ul.pricing-content.list-unstyled
            %li
              %i.fa.fa-tags
              A full 60 Minutes hands-on time
            %li
              %i.fa.fa-asterisk
              Massage customized to your needs
            %li
              %i.fa.fa-heart
              Warmed table for deeper relaxation if desired
            %li
              %i.fa.fa-star
              Hypo-allergenic, unscented lotion
            %li= link_to "Book Online!", "https://docmein.com/app/page/23944250927588316", class: "btn btn-small btn-primary" 
          .pricing-footer
            %p Includes pre- and post-session consultation. May include reflexology, trigger point therapy, relaxation coaching and home-care recommendations. 
      .col-xs-6.col-sm-4
        .pricing.hover-effect
          .pricing-head
            %h3
              90 Minutes
              %span Customized Therapeutic or Prenatal
            %h4
              %i> $
              155
          %ul.pricing-content.list-unstyled
            %li
              %i.fa.fa-tags
              A full 90 Minutes hands-on time
            %li
              %i.fa.fa-asterisk
              Massage customized to your needs
            %li
              %i.fa.fa-heart
              Warmed table for deeper relaxation if desired
            %li
              %i.fa.fa-star
              Hypo-allergenic, unscented lotion
            %li= link_to "Book Online!", "https://docmein.com/app/page/23944250927588316", class: "btn btn-small btn-primary" 
          .pricing-footer
            %p Includes pre- and post-session consultation. May include reflexology, trigger point therapy, relaxation coaching and home-care recommendations. 
      .col-xs-6.col-sm-4
        .pricing.hover-effect
          .pricing-head
            %h3
              120 Minutes
              %span Customized Therapeutic or Prenatal
            %h4
              %i> $
              180
          %ul.pricing-content.list-unstyled
            %li
              %i.fa.fa-tags
              A full 120 Minutes hands-on time
            %li
              %i.fa.fa-asterisk
              Massage customized to your needs
            %li
              %i.fa.fa-heart
              Warmed table for deeper relaxation if desired
            %li
              %i.fa.fa-star
              Hypo-allergenic, unscented lotion
            %li= link_to "Book Online!", "https://docmein.com/app/page/23944250927588316", class: "btn btn-small btn-primary" 
          .pricing-footer
            %p Includes pre- and post-session consultation. May include reflexology, trigger point therapy, relaxation coaching and home-care recommendations. 
