/*!
 * NEAT WRAP
 *
 * Copyright 2013 NEAT WRAP
 * http://neatwrap.beingkartik.com
 *
 * Crafted with love in India!
 */

/*CSS3 Hover Effects*/
.hover-effect {
   -webkit-transition:all 0.4s ease-in-out;
   -moz-transition:all 0.4s ease-in-out;
   -o-transition:all 0.4s ease-in-out;
   transition:all 0.4s ease-in-out;
}
.hover-effect-kenburn {
   left:10px;
   margin-left:-10px;
   position:relative;
   -webkit-transition: all 0.8s ease-in-out;
   -moz-transition: all 0.8s ease-in-out;
   -o-transition: all 0.8s ease-in-out;
   -ms-transition: all 0.8s ease-in-out;
   transition: all 0.8s ease-in-out;
}
.hover-effect-kenburn:hover {
   -webkit-transform: scale(2) rotate(5deg);
   -moz-transform: scale(2) rotate(5deg);
   -o-transform: scale(2) rotate(5deg);
   -ms-transform: scale(2) rotate(5deg);
   transform: scale(2) rotate(5deg);
}

/*Pricing Head*/
.pricing {
	position:relative;
	border-radius:3px;
	margin-bottom:15px;
	box-shadow:0 0 5px #eee;
	border-radius: 6px;
	box-shadow: 0 1px 3px 1px #d6d6d6;
	background: #ffffff;
}
.pricing:hover {
	box-shadow:0 0 15px #b5b5b5;
}

.pricing-head {
	text-align:center;
}
.pricing-head h3,
.pricing-head h4 {
	margin:0;
	line-height:normal;
	font-weight:bold !important;
}
.pricing-head h3 span, 
.pricing-head h4 span {
	display:block;
	margin-top:5px;
	font-size:12px;
	font-style:italic;
}
.pricing-head h3 {
	color:#fafafa;
	padding:12px 0;
	font-size:35px;
	font-family:Arial;
	border-radius:3px 3px 0 0;
	text-shadow:0 1px 0 #32a20f;
	border-bottom:solid 1px;
}
.pricing-head h4 {
	color:#888;
	padding:5px 0;
	font-size:70px;
	font-family:Arial;
	background:#fbfef2;
	text-shadow:0 1px 0 #fff;
	border-bottom:solid 1px #f5f9e7;
}
.pricing-head h4 i {
	top:-8px;
	font-size:28px;
	font-style:normal;
	position:relative;
}
.pricing-head h4 span {
	top:-10px;
	font-size:14px;
	font-style:normal;
	position:relative;
}
	
/*Pricing Content*/
.pricing-content li {
	color:#888;
	font-size:12px;
	padding:7px 15px;
	border-bottom:solid 1px #f5f9e7;
}
.pricing-content li i {
	top:2px;
	font-size:16px;
	margin-right:5px;
	position:relative;
}

/*Pricing Footer*/
.pricing-footer {
	color:#777;
	font-size:11px;
	line-height:17px;
	text-align:center;
	padding:0 20px 19px;
	border-radius:0 0 3px 3px;
}
.pricing-footer a,
.pricing-footer button {
	color:#fff;
	border:none;
	margin-top:5px;
	font-size:16px;
	padding:6px 15px;
	text-align:center;
	border-radius:2px;
	display:inline-block;
	text-transform:uppercase;
}
.pricing-footer a:hover,
.pricing-footer button:hover {
	cursor:pointer;
	background:#000;
	text-decoration:none;
	box-shadow:0 0 3px #999;
}

/*Priceing Active*/
.price-active,
.pricing:hover {
	z-index:9;
	margin-top:-15px;
	box-shadow:0 0 15px #b5b5b5;
}


.no-space-pricing {
	padding: 0 15px;
}

.no-space-pricing .pricing:hover {
	-webkit-transition:box-shadow 0.3s ease-in-out;
	-moz-transition:box-shadow 0.3s ease-in-out;
	-o-transition:box-shadow 0.3s ease-in-out;
	transition:box-shadow 0.2s ease-in-out;
}
.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4 {
	padding: 15px 0;
	font-size: 80px;
	-webkit-transition:color 0.5s ease-in-out;
	-moz-transition:color 0.5s ease-in-out;
	-o-transition:color 0.5s ease-in-out;
	transition:color 0.5s ease-in-out;
}

/* Devices (tablets, 768px and more) */
@media (min-width: 767px) {
	/*Pricing Page*/
	.no-space-pricing [class^="col-"],
	.no-space-pricing [class*=" col-"] {
		padding: 0;
	}	
	/*End Pricing Page*/
}

/* Medium Devices (Desktops, 992px and less) */
@media (max-width: 992px) {
	/*Pricing Page*/
	.price-active,
	.pricing:hover {
		margin-top: 0;
	}

	.no-space-pricing .price-active .pricing-head h4,
	.no-space-pricing .pricing:hover .pricing-head h4 {
		padding: 5px 0;
		font-size: 70px;
	}	
	/*End Pricing Page*/
}