%footer.footer
  %small &copy; Copyright 2002-2014 Mary F. Jenn and B*Well Sports Massage & Bodywork. All rights reserved. 
  %ul.pull-right
    %li= image_tag "payments.jpg"
    %li= link_to "Yelp!", "http://www.yelp.com/biz/b-well-sports-massage-and-bodywork-san-francisco-3?ob=1"
    %li= link_to "Contact Me", contact_path

          
    

    