%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to "B*Well Sports Massage & Bodywork", '/', id: "logo"
      %nav
        %ul.nav.pull-right
          %li= link_to "About Me", about_path
          %li= link_to "Services & Rates", services_path
          %li= link_to "Book Online!", "https://docmein.com/app/page/23944250927588316", class: "btn btn-small btn-primary" 